p{
    font-family: 'Rowdies', cursive;
    font-size: 2.3em;
    color: #e6e8e9;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
hr{
    border-width: 3px;
    max-width: 65px;
    border-color: #f05f44;
}
.btn-xl{
    background-color: #f05f44;
    border-color: #f05f44;
    margin: 10px;
    padding: 1rem 2rem;
    border-radius: 100px;
}
.btn-xl:hover{
    background-color: #EE4B08;
    border-radius: #EE4B08;
    border-width: 4px;
}