<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">Datos del Cuestionario</h3>
        <br>
        <form [formGroup]="datosCuestionario" (ngSubmit)="pasoUno()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ingrese título del cuestionario" formControlName="titulo">
                <div class="text-danger" *ngIf="datosCuestionario.get('titulo')?.hasError('required') && datosCuestionario.get('titulo')?.touched">
                    El título es <strong>Requerido</strong>
                </div>
            </div>
            <div class="form group">
                <textarea rows="3" placeholder="Ingrese descripción del cuestionario" formControlName="descripcion" class="form-control"></textarea>
                <div class="text-danger" *ngIf="datosCuestionario.get('descripcion')?.hasError('required') && datosCuestionario.get('descripcion')?.touched">
                    La descripción es <strong>Requerida</strong>
                </div>
            </div>
            <br>
            <button [disabled]="datosCuestionario.invalid" class="btn btn-success float-right">Siguiente</button>
        </form>
    </div>
</div>