<form [formGroup]="nuevaPregunta">
    <div class="form-group input-group-lg">
        <input type="text" class="form-control" placeholder="Ingrese pregunta">
    </div>
    <div class="input-group">
        <input class="form-control" placeholder="Rspuesta 1">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio" name="esCorrecta">
            </div>
        </div>
        <span class="material-symbols-outlined deleteIcon">delete</span>
    </div>
    <span class="material-symbols-outlined addIcon">add</span>
    <br>
    <br>
    <button class="btn btn-primary float-right">Agregar</button>
</form>